# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
env/
venv/
ENV/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# SQLite
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Mypy
# -----------------------------
.mypy_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build
# -----------------------------
dist/
build/
*.egg-info/

# -----------------------------
# Uploaded Files (for later)
# -----------------------------
uploads/